.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
  
}
.shop-section a{
    text-decoration: none;
}

.shop-section2{
    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;
  
}
.shop-section2 a{
    text-decoration: none;
 
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;  
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px; ;
}

.box-img{
    height: 300px;
    /* background-image: contain; */
    object-fit: cover;
    /* background-size: cover; */
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem ;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
.box4-img{
    margin-top: 2.5rem;
    margin-bottom: 1.3rem;
}
